body {
    background-color: rgb(4, 5, 41);
}

.inicio {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio .content_inicio {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    color: rgb(255, 255, 255);
    gap: 50px;
}

.inicio .content_inicio .nome_inicio h1 {
    font-size: 10rem;
    font-family: "Ephesis", cursive;
    font-weight: bold;
    font-style: normal;
}

.inicio .content_inicio .texto_inicio {
    width: 70%;
}

.inicio .content_inicio .texto_inicio p {
    font-size: 1.5rem;
}

.inicio .content_inicio .botoes_inicio {
    display: flex;
    gap: 20px;
}

.inicio .content_inicio .botoes_inicio .entrar_contato {
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
    color: hsl(43, 87%, 54%);
    background: transparent;
    border: 1px solid hsl(43, 87%, 54%);
    font-size: 17px;
    cursor: pointer;
}

.inicio .content_inicio .botoes_inicio .entrar_contato:hover {
    color: rgb(255, 255, 255);
    background: hsl(43, 87%, 54%);
    transition: 0.5s;
}

.inicio .content_inicio .botoes_inicio .conhecer_mais {
    padding: 0.5rem 0.9rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.inicio .content_inicio .botoes_inicio .conhecer_mais:hover {
    color: hsl(43, 87%, 54%);
    transition: 0.5s;    
}

.inicio .gustavo_foto {
    position: absolute;
    top: 4.5rem;
    width: 38rem;
    right: 0;
    z-index: -1;
}