@media (max-width: 1410px) {
    .inicio .content_inicio .nome_inicio h1 {
        font-size: 8rem;
    }

    .inicio .content_inicio .texto_inicio p {
        font-size: 1rem;
    }

    .inicio .gustavo_foto {
        position: absolute;
        top: 0rem;
        width: 37rem;
        right: 0;
        z-index: -1;
    }
}

@media (max-width: 1110px) {
    .inicio .gustavo_foto {
        position: absolute;
        top: rem;
        width: 37rem;
        right: 0;
        z-index: -1;
    }

    .sobre .content_sobre .caixa_sobre p {
        font-size: 28px;
    }

    .sobre .caixa_cards h3 {
        font-size: 30px;
    }

    .sobre .caixa_cards .cards .card {
        height: 250px;
    }

    .sobre .caixa_cards .cards .card h4 {
        font-size: 15px;
    }

    .trabalhos .content_trabalhos .caixa_cards .card {
        width: calc(30% - 20px);
    }
}

@media (max-width: 1000px) {
    .contato .content_contato {
        gap: 0;
    }

    .direitos {
        gap: 8px;
        padding: 5px 10px;
    }

    .content_footer .social {
        font-size: 20px;
    }
}

@media (max-width: 950px) {
    .contato .content_contato {
        gap: 0;
    }

    .sobre .caixa_cards .cards .card p {
        font-size: 10px;
    }

    .trabalhos {
        height: 150vh;
    }

    .trabalhos .content_trabalhos {
        margin-top: 0px;
    }

    .trabalhos .content_trabalhos .caixa_cards .card {
        width: calc(40% - 20px);
    }

    .content_footer .social {
        font-size: 20px;
    }

    .direitos {
        gap: 8px;
        padding: 5px 10px;
    }
}

@media (max-width: 900px) {
    header nav ul {
        display: none;
    }

    header nav .hamburguer {
        display: flex;
    }

    .icone_whats {
        display: none;
    }

    .sobre .content_sobre .caixa_sobre p {
        font-size: 25px;
    }
}

@media (max-width: 830px) {
    .sobre {
        height: 160vh;
    }
    

    .inicio .content_inicio .nome_inicio h1 {
        font-size: 6rem;
    }

    .sobre .content_sobre .caixa_sobre p {
        font-size: 22px;
    }

    .content_footer {
        height: 100px;
    }

    .contato .content_contato {
        justify-content: center;
    }

    .contato .content_contato .caixa_contato {
        width: 100%;
    }

    .contato .content_contato .fundo_gusttavo {
        display: none;
    }

    .sobre .content_sobre .caixa_sobre h3 {
        font-size: 50px;
    }

    .sobre .content_sobre {
        flex-direction: column;
    }

    .trabalhos .content_trabalhos .caixa_cards .card {
        font-size: 12px;
    }

    .sobre .caixa_cards .cards {
        width: 100%;
        height: 100%;
    }

    .sobre .caixa_cards .cards .card button {
        padding: 0.5rem 0.9rem;
        border-radius: 6px;
        background: transparent;
        color: hsl(43, 87%, 54%);
        border: 1px solid       ;
        font-size: 8px;
        cursor: pointer;
    }

    .content_footer .caixa h3 {
        font-size: 20px;
    }

    .content_footer .caixa p {
        font-size: 10px;
    }

    .direitos p {
        font-size: 12px;
    }
}

@media (max-width: 730px) {

    .sobre {
        height: 170vh;
    }
    
    .inicio .content_inicio .nome_inicio h1 {
        font-size: 5rem;
    }

    .inicio .gustavo_foto {
        display: none;
    }

    .content_footer .social {
        font-size: 10px;
    }

    .content_footer .caixa h3 {
        font-size: 15px;
    }

    .content_footer .caixa h3 {
        font-size: 10px;
    }

    .content_footer .logo_footer img {
        width: 6rem;
    }
}

@media (max-width: 630px) {
    .trabalhos {
        height: 210vh;
    }

    .inicio .content_inicio .nome_inicio h1 {
        font-size: 3rem;
    }

    .inicio .content_inicio .texto_inicio p {
        font-size: 0.8rem;
    }

    .container_obs div {
        font-size: 15px;
    }

    .sobre .content_sobre .caixa_sobre h3 {
        font-size: 20px;
    }

    .sobre .content_sobre .caixa_sobre p {
        font-size: 12px;
    }

    .sobre .caixa_cards h3 {
        font-size: 15px;
    }

    .sobre .caixa_cards .cards .card p {
        font-size: 10px;
    }

    .sobre .content_sobre .caixa_sobre {
        margin-top: 80px;
        width: 100%;
    }

    .sobre .caixa_cards {
        width: 80%;
    }

    .trabalhos .content_trabalhos h2 {
        font-size: 25px;
    }

    .trabalhos .content_trabalhos .caixa_cards .card {
        width: calc(80% - 20px);
    }

    .content_footer {
        gap: 0px;
        padding: 5px 2px;
    }

    .content_footer .caixa h3 {
        font-size: 12px;
    }

    .content_footer .caixa p {
        font-size: 5px;
    }

    .content_footer .social {
        font-size: 5px;
    }

    .container_obs div {
        font-size: 12px;
    }
}
